/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #694b8f;
    color: white;
    padding: 15px;
}
#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}

.stars >a{
    color: goldenrod !important;
}.stars >a:hover{
     text-decoration: none;
     color: gold !important;
 }
.mr_b_15px{
    margin-bottom: 15px!important;
}
.error{
    color: red!important;
}
.p-tb-20px{
    padding:20px 0px ;
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height: auto;}
}

/* tooltips container */
.tooltips {
    text-align: center;
    position: relative;
    /*display: inline-block;*/
    /*border-bottom: 1px dotted black; !* If you want dots under the hoverable text *!*/
}

/* tooltips text */
.tooltips .tooltipstext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 10px 5px;
    border-radius: 6px;

    /* Position the tooltips text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltips */
    opacity: 0;
    transition: opacity 0.3s;
}

/* tooltips arrow */
.tooltips .tooltipstext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltips text when you mouse over the tooltips container */
.tooltips:hover .tooltipstext {
    visibility: visible;
    opacity: 1;
}